<%= form_for [@phrase, @comment], remote: true do |f| %>
  <div class="field">
    <div class="control">
      <%= f.text_area :content, class:"input form-control", placeholder:"コメント(300字以内)", rows: 5 %>
      <%= f.hidden_field :phrase_id, value: @phrase.id %>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <%= f.submit 'コメントする', class:"btn btn-primary mt-1" %>
    </div>
  </div>
<% end %>