    <div class="d-flex justify-content-center"><%= cheak_use_picture(@phrase.user, "124x124") %></div>
    <div class="d-flex justify-content-center"><%= @phrase.user.username %></div>
    <div class="balloon1-top">
    <% if @phrase.guitar.present? %>
      <%= simple_format(@phrase.guitar) %>
    <% else %>
      ギター情報はありません。
    <% end %>
    </div>