<% @page_title = "管理ページトップ" %>
<div class="container bg-white p-3">
<h4 class="mb-2">管理ページ</h2>
<ul>
  <li><%= link_to "ユーザー管理", :admin_users %></li>
  <li><%= link_to "フレーズ管理", :admin_phrases %></li>
  <li><%= link_to "テーマ管理", :admin_themes %></li>
</ul>
</div>