<% @page_title = "送信完了" %>
<div class="bg-white p-3">

<h2 class="mb-3">お問い合わせありがごうございます。</h2>

<p>ご記入して頂いた情報は無事送信されました。</p>
<p>ギタフレ！担当者よりご連絡させていただきますので暫くお待ち下さい。</p>

<%= link_to "TOPページに戻る", root_url %>
</div>