<p>パスワードリセットリンクをクリックしてパスワード変更を行って下さい。</p>

<p><%= link_to 'パスワードリセット', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに覚えのない場合はクリックしないようお願い致します。</p>
<p>上記リンクにアクセスしてパスワード変更をしない限りパスワードはリセットされません。</p>
<br>
<p><%= link_to "ギタフレ！", root_url %></p>