<footer class="footer">
  <div class="container mt-3">
    <div class="small text-white text-center">
      <span class="d-inline-block border-end border-white-50 pe-3">
        <%= link_to "はじめての方へ", atfirst_path, class: "text-white-50" %>
      </span>

      <span class="d-inline-block ps-3">
        <%= link_to "お問い合わせ・ご意見", new_contact_path, class: "text-white-50" %>
      </span>
    </div>
    <p class="small text-center text-white-50">©2021 kawasaki</p>
  </div>
</footer>