<footer class="footer">
  <div class="container mt-3">
    <div class="small text-white text-center">
      <span class="d-inline-block border-end border-white pe-3">
        <%= link_to "サイトマップ", root_path, class: "text-reset text-decoration-none" %>
      </span>
      <span class="d-inline-block border-end border-white ps-3 pe-3">
        <%= link_to "サイト利用にあたって", root_path, class: "text-reset text-decoration-none" %>
      </span>
      <span class="d-inline-block border-end border-white ps-3 pe-3">
        <%= link_to "サイトポリシー", root_path, class: "text-reset text-decoration-none" %>
      </span>
      <span class="d-inline-block ps-3">
        <%= link_to "お問い合わせ・ご意見", root_path, class: "text-reset text-decoration-none" %>
      </span>
    </div>
    <p class="small text-center text-white">©2021 kawasaki</p>
  </div>
</footer>