<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a class="nav-link small" href="/">ぎたふれ！</a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link small" href="#">フレーズ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link small" href="#">テーマ</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto mb-lg-0">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.username, user_path(current_user), class: "nav-link small" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "nav-link small" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "会員登録", new_user_registration_path, class: "nav-link small" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link small" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
<aside class="mb-3">
  <h2 class="d-inline-block" style="background-color:salmon;">ぎたふれ！</h2>
  検索フォーム
</aside>